@model IEnumerable<SneakerAIO.Models.SneakerModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"><i class="fas fa-qrcode text-success"></i> Sneaker Inventory</h1>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>